.AboutPage {
    height: 100%;
    width: 100%;
    position: absolute;
    display: table;
    background-color: #203647;
    color: whitesmoke;
    font-family:'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
}
.AboutPageInner {
    display: table-cell;
    vertical-align: middle;
}
.GitLink {
    text-decoration: none;
    color: rgb(72, 72, 247);
}
.GitLink:visited {
    color: rgb(72, 72, 247);
}